body{ background-color: azure;
}
div.container{
    margin: 0 auto;
    width: 90%;
}
header{
    width: 100%;
    height: 100px;
    background:linear-gradient(rgb(255, 255, 255), rgb(255, 207, 236), rgb(255, 142, 225))
}
nav{
    width: 20%;
    height: 800px;
    background: #b7ddff;
    float: left;
}
div.content{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 80%;
    height: 800px;
    background: #fff;
    float: right;
}
footer{
    width: 100%;
    height: 50px;
    background: #ff9797;
}